/*
 * Colemak-DH layout for Corne (42 keys)
 * Converted from idobao/id75 QMK keymap "standardish_colmak9"
 *
 * Layer structure:
 *   0  Colemak-DH (base)
 *   1  Symbols + Numpad
 *   2  Extend (navigation)
 *   3  Function + Media  (conditional: hold L1 + L2)
 *   4  RGB + Bluetooth
 *
 * Key positions (for ignored-key-positions reference):
 *   Row 0:  0   1   2   3   4   5       6   7   8   9  10  11
 *   Row 1: 12  13  14  15  16  17      18  19  20  21  22  23
 *   Row 2: 24  25  26  27  28  29      30  31  32  33  34  35
 *   Thumb:         36  37  38              39  40  41
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        alt_swapper: alt_swapper {
            compatible = "zmk,behavior-tri-state";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
            ignored-key-positions = <15 16>;
        };
        ctrl_swapper: ctrl_swapper {
            compatible = "zmk,behavior-tri-state";
            #binding-cells = <0>;
            bindings = <&kt LCTRL>, <&kp TAB>, <&kt LCTRL>;
            ignored-key-positions = <15>;
        };
        swapper: swapper {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&alt_swapper>, <&ctrl_swapper>;
            mods = <(MOD_LCTL)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        function_layer_combo {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: Colemak-DH
         * ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
         * │ ESC │  Q  │  W  │  F  │  P  │  B  │   │  J  │  L  │  U  │  Y  │  '  │RA(S)│
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │ TAB │  A  │  R  │  S  │  T  │  G  │   │  M  │  N  │  E  │  I  │  O  │ RET │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │     │  Z  │  X  │  C  │  D  │  V  │   │  K  │  H  │  ,  │  .  │  /  │     │
         * └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
         *                   │BSPC │ SPC │ L2  │   │ L1  │LSHFT│LCTRL│
         *                   └─────┴─────┴─────┘   └─────┴─────┴─────┘
         */
        colemak_layer {
            bindings = <
                &kp ESC  &kp Q  &kp W  &kp F      &kp P      &kp B      &kp J  &kp L      &kp U      &kp Y    &kp SQT   &kp RA(S)
                &kp TAB  &kp A  &kp R  &kp S      &kp T      &kp G      &kp M  &kp N      &kp E      &kp I    &kp O     &kp RET
                &none    &kp Z  &kp X  &kp C      &kp D      &kp V      &kp K  &kp H      &kp COMMA  &kp DOT  &kp FSLH  &none
                                       &kp BSPC   &kp SPACE  &mo 2      &mo 1  &kp LSHFT  &kp LCTRL 
            >;
        };

        /* Layer 1: Symbols + Numpad
         * ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
         * │  ^  │  !  │  @  │  #  │  :  │  ;  │   │  =  │  7  │  8  │  9  │ KP+ │  ~  │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │  &  │  \  │  |  │  {  │  (  │  [  │   │ KP* │  4  │  5  │  6  │ KP- │  %  │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │  $  │  -  │  _  │  }  │  )  │  ]  │   │  0  │  1  │  2  │  3  │ KP/ │RA(5)│
         * └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
         *                   │BSPC │ SPC │[L2] │   │     │     │     │
         *                   └─────┴─────┴─────┘   └─────┴─────┴─────┘
         */
        symbols_layer {
            bindings = <
                &kp CARET  &kp EXCL   &kp AT     &kp HASH   &kp COLON  &kp SEMI    &kp EQUAL        &kp N7  &kp N8  &kp N9  &kp KP_PLUS    &kp TILDE
                &kp AMPS   &kp BSLH   &kp PIPE   &kp LBRC   &kp LPAR   &kp LBKT    &kp KP_MULTIPLY  &kp N4  &kp N5  &kp N6  &kp KP_MINUS   &kp PRCNT
                &kp DLLR   &kp MINUS  &kp UNDER  &kp RBRC   &kp RPAR   &kp RBKT    &kp N0           &kp N1  &kp N2  &kp N3  &kp KP_DIVIDE  &kp RA(N5)
                                                  &kp BSPC   &kp SPACE  &trans      &none            &none   &none
            >;
        };

        /* Layer 2: Extend / Navigation
         * ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
         * │     │ ESC │A(←) │ C-F │A(→) │ INS │   │PG_UP│HOME │  UP │ END │CAPS │     │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │ SWAP│ ALT │ GUI │SHIFT│CTRL │ALTGR│   │PG_DN│LEFT │DOWN │RIGHT│ DEL │     │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │     │UNDO │ CUT │COPY │ GUI │PASTE│   │PSCRN│BSPC │ TAB │ APP │ RET │     │
         * └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
         *                   │BSPC │ SPC │     │   │[L1] │ MO4 │     │
         *                   └─────┴─────┴─────┘   └─────┴─────┴─────┘
         *  SWAP = Alt-Tab swapper (tap sk CTRL first for Ctrl-Tab)
         */
        extend_layer {
            bindings = <
                &none     &kp ESC    &kp LA(LEFT)  &kp LC(F)   &kp LA(RIGHT)  &kp INS     &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp CAPS  &none
                &swapper  &sk LALT   &sk LGUI      &sk LSHFT   &sk LCTRL      &sk RALT    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL   &none
                &none     &kp LC(Z)  &kp LC(X)     &kp LC(C)   &kp LGUI       &kp LC(V)   &kp PSCRN  &kp BSPC  &kp TAB   &kp K_APP  &kp RET   &none
                                                    &kp BSPC   &kp SPACE      &none       &trans     &mo 4     &none
            >;
        };

        /* Layer 3: Function + Media (conditional: L1 + L2)
         * ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
         * │     │     │     │     │     │CALC │   │ F12 │ F7  │ F8  │ F9  │C-KP+│     │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │     │ ALT │ GUI │SHIFT│CTRL │ALTGR│   │ F11 │ F4  │ F5  │ F6  │C-KP-│     │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │     │MUTE │VOL_D│CS-C │VOL_U│CS-V │   │ F10 │ F1  │ F2  │ F3  │ C-0 │     │
         * └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
         *                   │     │     │     │   │     │     │     │
         *                   └─────┴─────┴─────┘   └─────┴─────┴─────┘
         */
        function_layer {
            bindings = <
                &none  &none       &none          &none          &none         &kp C_AL_CALC    &kp F12  &kp F7  &kp F8  &kp F9  &kp LC(KP_PLUS)   &none
                &none  &sk LALT    &sk LGUI       &sk LSHFT      &sk LCTRL     &sk RALT         &kp F11  &kp F4  &kp F5  &kp F6  &kp LC(KP_MINUS)  &none
                &none  &kp C_MUTE  &kp C_VOL_DN   &kp LC(LS(C))  &kp C_VOL_UP  &kp LC(LS(V))    &kp F10  &kp F1  &kp F2  &kp F3  &kp LC(N0)        &none
                                                   &none          &none         &none            &none    &none   &none
            >;
        };

        /* Layer 4: RGB + Bluetooth
         * ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
         * │BTCLR│ BT0 │ BT1 │ BT2 │ BT3 │ BT4 │   │ TOG │ EF- │ BRI+│ EF+ │     │     │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │     │     │     │     │     │     │   │ SAT+│ HUE-│ BRI-│ HUE+│     │     │
         * ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
         * │     │     │     │     │     │     │   │ SAT-│     │     │     │     │     │
         * └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
         *                   │     │     │     │   │     │     │     │
         *                   └─────┴─────┴─────┘   └─────┴─────┴─────┘
         */
        rgb_bt_layer {
            bindings = <
                &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &rgb_ug RGB_TOG  &rgb_ug RGB_EFR  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &none  &none
                &none       &none         &none         &none         &none         &none            &rgb_ug RGB_SAI  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_HUI  &none  &none
                &none       &none         &none         &none         &none         &none            &rgb_ug RGB_SAD  &none            &none            &none            &none  &none
                                                        &none         &none         &none            &none            &none            &none
            >;
        };
    };
};
